* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  /* background-image: url("https://images.wallpaperscraft.com/image/single/city_bus_stops_road_85100_2560x1600.jpg"); */
  background-image: url("images/lastONE.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  background-color: #c9c9c9ff;
  width: 300px;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.button,
.button2 {
  width: 100px;
  font-size: 12px;
  padding: 3px 6px;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 2px;
}

.button {
  background-color: darkred;
  border: 2px solid darkred;
}

.button2 {
  background-color: darkgreen;
  border: 2px solid darkgreen;
}
